.App {
  text-align: center;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wordToFind {
  letter-spacing: 10px;
  display: block;
  margin: 25px 0;
  font-size: 2rem;
}

.alphabet {
  display: flexbox;
  justify-content: space-around;
  margin: 25px;
  font-size: 2rem;
  width: 600px;
}

.letter {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 25px;
  width: 25px;
  padding: 0 10px;
}

.letter.unclicked {
  background: lightgrey;
}

.letter.unclicked:hover {
  opacity: 0.5;
}

.letter.correct {
  background: green;
  pointer-events: none;
}

.letter.wrong {
  background: red;
  pointer-events: none;
}

.success,
.failure {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 25px 0;
}

.success { color:green; }
.failure { color:red; }

.restart-btn {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #3A3A3C;
  cursor: pointer;
  padding: 10px;
}
